
#map{
    height: 100px;
    width: 200px;
}

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: monospace;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
    margin-right: 25px;
}

#title{
    font-family:monospace ;
    font-size: 30px;
    font-weight: bolder;
    color: #FF033E;

}

.container{
    display: flex;
    justify-content: center;
}


.user-option,.navigation-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    margin-top: 200px;
}

button{
    margin-top: 25px;
    background-color: #FF033E;
    border: none;
    padding: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    color: white;
    transition: padding 300ms ease;
    font-weight: bolder;
    font-size: medium;
}
button:hover{
    padding: 30px;

}
ul li a{
    color: #FF033E;
}